<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
  <body>
        
          <h2 class="hedt1"> {{title}} </h2>

          <div class="header1" >
            <a href="/">HOME</a>
            <a href="/service">SERVICE</a>
            <a href="/team">TEAM</a>
             <a href="/about">about</a>
           
          </div>
          
      </body>
</html>